{% extends "home/base.html" %}

{% block content %}
		    <div class="content description">
		        <p>Real-time performance and website error logging</p>
		        <p>The performace monitor their project, register your project</p>
		    </div>
		    <div class="signup">
		        <a href="accounts/register/">Sign Up</a>
		    </div>
		</div>
	</div>
</div>

<div class="row">
	<div class="column grid_12">
		<div class="line"></div>
	</div>
</div>
	
<div class="row">
	<div class="column grid_12">
		<div class="screenshots"></div>
{% endblock %}
