.menu .user {
    font-weight: bold;
    background:url(../images/panel/seta.png) 0px 17px no-repeat;
    padding: 12px 0px 12px 20px;
    float: left;
}

.menu .user a {
    color: #000;
}

.button {
	width: 117px;
	height: auto;
	background-color: #a73636;
	border: none;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	position: relative;
	behavior: url(/static/pie/PIE.htc);
	padding: 20px;
	margin: 30px;
}

.button a {
	color: #fff;
}

.button:hover{
	background-color: #000;
}

.button a:hover {
	color: #fff;
}

.button.similar-errors {
	width: 95px;
}

.button.login-again {
	width: 85px;
	margin-left: 0px;	
}

.container h3 {
	font-size: 18px;
	font-weight: bold;
	color: #4B4B4B;
}

.project {
	margin-bottom: 30px;
}

.project h2 {
    color: #a73636;
    font-size: 26px;
    font-weight: bold;
    margin: 30px 0px;
}

.project p {
	font-size: 16px;
	font-weight: normal;
}

.project p span {
	background-color: #EBEBEB;
	font-size: 18px;
	padding: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	position: relative;
	behavior: url(/static/pie/PIE.htc);
}

.project p span a {
	color: #000;
}

.project p span:hover {
	background-color: #fff;
}

.project ul {
	margin: 0px;
}

.project li {
	border-bottom: dashed 1px #EBEBEB;
	padding: 10px;
}

.project li:hover {
	background-color: #ecebeb;
}

.project li a {
	color: #4B4B4B;
}

.project li a:hover {
	color: #000;
}

.projects ul {
	margin: 20px 0px 0px 20px;
}

.projects li {
	margin: 15px;
	background-color: #EBEBEB;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	position: relative;
	behavior: url(/static/pie/PIE.htc);
	padding:10px;
}

.projects a {
	outline: none;
}

.projects p {
	font-size: 14px;
	font-weight: normal;
}

.projects p a {
	color: #4b4b4b;
}

.projects p a:hover {
	color: #a73636;
}

.projects span {
	font-weight: bold;
}

a ul.similar-errors {
	color: #4b4b4b;
}

ul.similar-errors {
	background-color: #ECEBEB;
    margin: 10px;
    padding: 10px;	
    border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	position: relative;
	behavior: url(/static/pie/PIE.htc);
}

.response-graph {
	width: 600px;
	height: 300px;
	margin:20px;
}

.request_graph {
	height: 150px;	
}

.footer-panel {
	background-color: #e0e0e0;
    border-top: solid 1px #9f9f9f;
    height: 50px;
}

.footer-panel p {
    color: #9f9f9f;
    font-size: 12px;
    float: right;
    line-height: 50px;
}