body {
    font-family: 'Segoe UI', Calibri, 'Myriad Pro', Myriad, 'Trebuchet MS', Helvetica, Arial, sans-serif;
    background-color: #f7f9f9;
}

.bar{
    background-color: #02313d;
    width: 100%;
    height: 6px;
}

.header {
    width: 100%;
    height: 113px;
    background:url(../images/header/background.gif) repeat-x;
}

.header h1 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    line-height: 113px;
}

.menu {
    border-bottom: 1px solid #ccc;
    height: 39px;
    background:url(../images/menu/background.gif) repeat-x;
}

.menu .signin {
    font-weight: bold;
    background:url(../images/menu/seta.png) 70px 17px no-repeat;
    padding: 12px 90px 12px 0px;
    float: left;
}

.menu .signin a {
    color: #000;
}

.menu .signin a:hover{
    color: #a73636;
}

.menu ul{
    float: right;
}

.menu ul li {
    float: left;
}

.menu ul li a {
    font-size: 16px;
    color: #535353;
    padding: 12px;
    display: block;
}

.menu ul li:hover {
    background-color: #a73636;
}

.menu ul li a:hover {
    color: #fff;
}

.container {
    width: 100%;
    height: auto;
}

.container h2 {
    color: #4b4b4b;
    font-size: 22px;
    font-weight: bold;
    margin: 30px 0px;
}

.container p {
    color: #4b4b4b;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
}

.container .content {
    float: left;
    margin: 30px 0px;
    width: auto;
}
.signup {
    background:url(../images/signup/button.png);
    float: right;
    width: 135px;
    height: 40px;
    margin-top: 55px;
}

.signup a {
    color: #fff;
    float: left;
    font-size: 25px;
    font-weight: bold;
    padding: 5px 21px;
}

.line {
    background-color: #e0e0e0;
    height: 7px;
    margin-top: 30px;
}

.screenshots {
    height:300px;    
}

.footer {
    background-color: #02313d;
    border-top: solid 1px #e0e0e0;
    height: 118px;
}

.footer p {
    color: #fff;
    font-size: 12px;
    float: right;
    line-height: 105px;
}