<!doctype html>
<html>
    <head>
        <title>stardust</title>
        <link rel="stylesheet" href="static/css/reset.css" type="text/css" />         
        <link rel="stylesheet" href="static/css/grid.css" type="text/css" /> 
        <link rel="stylesheet" href="static/css/style.css" type="text/css" />        
    </head>
    <body>
        <div class="bar"></div>
        <div class="header">
            <div class="row">
                <div class="column grid_12">
                    <h1>stardust</h1>
                </div>
            </div>
        </div>
        <div class="menu">
            <div class="row">
                <div class="column grid_12">
                    <div class="signin">
                        <a href="">Sign in</a>
                    </div>
                    <ul>
                        <li><a href="">features</a></li>
                        <li><a href="">documentation</a></li>
                        <li><a href="">support</a></li>
                    </ul>               
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="column grid_12">
                    {% block content %}{% endblock %}
               </div>
            </div>
        </div>
        <div class="row">
            <div class="column grid_12">
                <div class="line"></div>
            </div>
        </div>
    </body>
</html>
