{% extends "panel/base.html" %}

{% block content %}
<div class="container">
	<h2>Panel Applications</h2>

    {% if projects %}
	<div class="projects">
        <h3>Your projects</h3>
        <ul>
            {% for project in projects %}
                <li>
                    <a href="{% url project project.id %}">
                        <p><span>Project name: </span>{{ project.name}}</p>
                        <p><span>URL: </span>{{ project.url}}</p>
                    </a>
                    <p><span>Token: </span>{{ project.token }}</p>
                </li>
            {% endfor %}
        </ul>
	</div>
    {% else %}
        Add a project please
    {% endif %}

	<div class="button">
		<a href="/panel/projects/add/">Add your project</a>
	</div>
    <div class="clear"></div>
    <div class="clear"></div>
</div>
{% endblock %}
