{% extends "panel/base.html" %}

{% block content %}
    <div class="container">
        <div class="projects project">
            <h2>{{ project.name }}</h2>
            <p><span>URL: </span><a href="{{ project.url }}" target="_blank">{{ project.url }}</a></p>

            {% if project.set_responses %}
                responses:
                <ul>
                    {% for response in project.set_responses %}
                        <li>{{ response.url }} - {{ response.time}}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>0 responses</p>
            {% endif %}

            {% if project.set_errors %}
                errors:
                <ul>
                    {% for error in  project.set_errors %}
                        <li>{{ error.exception }} - {{ error.date}}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>0 errors<p>
            {% endif %}
        </div>
    </div>
{% endblock %}