{% extends "panel/base.html" %}

{% block flot %}
    <!--[if lte IE 8]>
        <script language="javascript" type="text/javascript" src="/static/js/excanvas.min.js"></script>
    <![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js" type="text/javascript"></script>
    <script src="/static/js/jquery.flot.js" type="text/javascript" language="javascript"></script>
    <script>
       $(function () {
            var request = [{% for response in project.response_set.all %}[{{ response.date|date:"U" }}, {{ response.time }}]{% if not forloop.last %},{% endif %}{% endfor %}];

            $.plot($("#placeholder"), [request], {
                xaxis: {
                    mode: "time",
                    timeformat: "%M"
                }
            });
       });

    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="project">
            <h2>{{ project.name }}</h2>
            <p>URL: <span>{{ project.url }}</span></p>
            <div class="line"></div>
            <p>Average request time (request/minute)</p>
            <div id="placeholder" class="graph"></div>
            <div class="row">
                <div class="column grid_6">
                    <div class="line grid_6"></div>
                    {% if errors %}
                    <p>Errors:</p>
                    <ul>
                        {% for error in errors %}
                            <li><a href="/panel/projects/{{ id.project }}/error/{{ id.project}}/">{{ error.exception }} - {{ error.date }} - {{ error.count_exception }}</a></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <p>0 errors<p>
                    {% endif %}
                </div>
                <div class="column grid_6">
                    <div class="line grid_6"></div>
                    {% if project.response_set.all %}
                        <p>Responses:</p>
                        <ul>
                            {% for response in project.response_set.all %}
                            <li>{{ response.url }} - {{ response.time }} - {{ response.date }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>0 responses</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
 
