{% extends "panel/base.html" %}

<!-- {% for error in errors %}
    {{error.date}}
    {{error.url}}
    {{error.traceback}}
    {{error.exception}}
{% endfor %} -->

{% block content %}
	<div class="container">
	    <div class="project">
	     	<h2> {{ errors.0.project.name }}</h2>
	      	{% for error in errors %}
	      	<a href="{{ error.get_absolute_url }}">
		      	<ul class="similar-errors">
			      	<li>{{ error.date }}</li>
			      	<li>{{ error.url}}</li>
			      	<li>{{ error.traceback }}</li>
			      	<li>{{ error.exception }}</li>
		      	</ul>
	      	</a>
	      	{% endfor %}
		</div>
	    <div class="clear"></div>
	    <div class="clear"></div>
	</div>
{% endblock %}